.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 90%;
  /* width: 600px; */
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navBar {
  background-color: #009dac !important;
  height: 80px;
}

.counter {
  background-color: #ffb800 !important;
}

.filters {
  background-color: #009dac;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 10px;
  height: 86vh;
  position: sticky;
  top: 90px;
}

.cartIcon {
  background-color: #ffb800 !important;
}

.addCartBtn {
  background-color: #17A2B8 !important;
  border: none !important;
  width: 120px !important;
  height: 40px !important;
}

.addCartBtn:hover {
  background-color: #0C748B !important;
  border: none !important;

}

.removeCartBtn {
  background-color: #DC3545 !important;
  border: none !important;
  width: 120px !important;
  height: 40px !important;
}

.toCartBtn {
  background-color: #17A2B8 !important;
  border: none !important;
  width: 400px !important;
  height: 40px !important;
}

.CheckoutBtn {
  background-color: #ffb800 !important;
  position: fixed;
  margin-top: 750px;
  width: 380px;
  height: 40px;
  border: none !important;
}

.removeCartBtn:hover {
  background-color: #A82634 !important;
  border: none !important;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 15px;
}

.products {
  width: 15%;
  margin: 10px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.summary {
  width: 25%;
}

@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none Im !important;
  }

  .products {
    width: 100%;
  }
}
